@charset "utf-8";

/**
*
* -----------------------------------------------------------------------------
*
* Template : Rubrash - One Page Corporate HTML5 Template
* Author : rs-theme
* Author URI : http://www.rstheme.com/
*
* -----------------------------------------------------------------------------
*
**/

@media only screen and (max-width: 1199px) {
	.sec-title h3,
	.rs-banner .banner-text h1{
		font-size: 30px;
	}
	.rs-banner .banner-text h3,
	.rs-banner .banner-text h3 .cd-headline, 
	.rs-banner .banner-text h3 span{
		font-size: 35px;
	}
	.full-screenbg .rs-video-content-wrap {
		top: 40px;
	}	
}

/* Layout: Min 992px Max 1199px. */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	#rs-header .menu-area .navbar ul li + li {
	    margin-left: 30px;
	}
	.counter-top-area .rs-counter-list{
		padding: 10px;
	}
	.counter-top-area.left-icon-counter .rs-counter-list .count-text h2 {
		font-size: 25px;
	}
	.counter-top-area.left-icon-counter .rs-counter-list .count-text h3{
		font-size: 13px;
	}
	.counter-top-area.left-icon-counter .rs-counter-list .count-icont i{
		font-size: 40px;
	}
	.contact-section .contact-top-section .contact-box-area .contact-box-inner .address-box {
		padding: 65px 50px;
	}
	.features-app-section .feture-style2 .nav li a{
		font-size: 17px; 
	}
	.counter-top-area.left-icon-counter .rs-counter-list .count-icont{
		padding-right: 15px;
	}
}


/* Medium Layout: 991px. */
@media only screen and (max-width: 991px) {
	#rs-header.light-header .menu-area .navbar{
		background: #f6f6f6;
	}
	.fullwidth-header{
		height: auto;
	}
	.rs-banner .banner-text h1{
		font-size: 25px;
	}
	.rs-banner .banner-text h3,
	.rs-banner .banner-text h3 .cd-headline, 
	.rs-banner .banner-text h3 span{
		font-size: 30px;
	}
	.sec-spacer{
		padding: 80px 0;
	}
	.rs-services.services-list,
	.rs-portfolio{
		padding-bottom: 50px;
	}
	.rs-testimonial.testimonials-slider {
	    padding: 75px 0 120px;
	}
	.menu-sticky.sticky{
		position: static !important;
	}
	.menu-area .row > div[class*="col-"] {
	    width: 100%;
	}
	.navbar-header {
	    float: none;
	}
	#rs-header .menu-area .navbar ul li {
	    height: auto;
	    line-height: normal;
	    display: block;
	}
	.navbar-toggle {
	    margin-right: 0px;
	    margin-top: -57px;
	    margin-bottom: 0;
	    right: -15px;
	}
	.navbar {
	    min-height: 0px;
	    background: #fff;
	    padding: 0 15px;
	}
	#rs-header .menu-area .navbar ul {
		text-align: left;
		margin-bottom: 25px;
	}
	#rs-header .menu-area .navbar ul ul.sub-menu {
	    position: static;
	    opacity: 1;
	    visibility: visible;
	    width: 100%;
	    margin-bottom: 0;
	    display: none;
	}
	#rs-header .menu-area .navbar ul ul.sub-menu li{
		border-bottom: none;
	    line-height: normal;
	    height: auto;
	}
	#rs-header .menu-area .navbar ul li + li {
	    margin-left: 0;
	    border-top: 1px solid rgba(0, 0, 0, 0.02);
	}
	#rs-header .menu-area .navbar ul li > a {
	    padding: 12px 0;
	    display: inline-block;
	    position: relative;
	}
	#rs-header .menu-area.menu-area.menu-sticky .navbar ul li.active ul li a,
	#rs-header .menu-area .navbar ul li > a,
	#rs-header.transparent-header .menu-area .navbar ul li > a {
	    color: #101010;
	}
	#rs-header .menu-area,
	.navbar-toggle {
	    display: block;
	}
	.navbar-collapse.collapse{
	    display: none !important;
	}
	.navbar-collapse.collapse.in {
	    display: block !important;
	}
	.rs-portfolio .portfolio-filter button {
	    font-size: 14px;
	    margin: 0 12px 12px 0;
	}
	.counter-top-area .rs-counter-list i,
	.rs-video-area .rs-video-content-wrap .sl-title,
	.full-screenbg .rs-video-content-wrap .sl-title{
		font-size: 45px;
	}
	.rs-video-area .rs-video-content-wrap .work-position .cd-headline, 
	.rs-video-area .rs-video-content-wrap .work-position h3,
	.full-screenbg .rs-video-content-wrap .work-position .cd-headline, 
	.full-screenbg .rs-video-content-wrap .work-position h3 {
		font-size: 35px;
	}
	.rs-about .about-right {
	    padding-left: 0;
	    padding-top: 40px;
	}
	.sec-title h3, 
	.rs-counter-area-2 .counter-title {
		font-size: 25px;
	}
	.counter-top-area .rs-counter-list h3{
		font-size: 16px;
	}
	.counter-top-area .rs-counter-list h2{
		font-size: 28px;
	}
	.rs-about .about-left .about-skill{
		right: 0;
	}
	.rs-about .about-left, 
	.rs-about .about-right{
		height: auto;
	}
	.counter-top-area.left-icon-counter .rs-counter-list::after {
		left: 19%;
	}
	.counter-top-area.left-icon-counter{
		padding-top: 50px;
	}  
	.counter-top-area.left-icon-counter .rs-counter-list{
		margin-top: 30px;
	}
	.rs-cta .cta-button,
	.rs-cta .sec-title{
		text-align: center;
	}
	.rs-banner .banner-image img{
		height: 400px;
	}
	.about-right{
		text-align: center;
	}
	.full-screenbg .rs-video-content-wrap{
		padding-top: 0;
	}
	
	.contact-section .contact-top-section #googleMap {
		height: 350px;
	}
    .contact-section .contact-top-section .contact-box-area{
    	position: static;
    	padding-top: 80px;
    }
    .contact-section .contact-top-section .contact-box-area .contact-box-inner .contact-form {
		padding: 40px 0;
	}
    .contact-section .contact-top-section .contact-box-area .contact-box-inner {
		box-shadow: none;
	}
	.contact-section .footer-bottom {
		padding-top: 50px;
	}

	.rs-services.services-list .single-service {
	    box-shadow: 0 3px 12px rgba(58, 78, 95, 0.05);
	    background-color: #fff;
	}
}

/* Mobile Layout: 767px. */
@media only screen and (max-width: 767px) {
	.rs-about .about-left .about-skill {
		padding: 36px 30px;
		width: 100%;
		opacity: 1;
		position: static;
		margin-top: 30px;
		transform: translate(0);
		-webkit-transform: translate(0);
		-ms-transform: translate(0);
	}
	.rs-services .services-details .single-services i {
		font-size: 15px;
	}
	.rs-banner{
		padding: 40px 0;
	}
	.rs-banner .banner-text h1{
		font-size: 20px;
	}
	.rs-banner .banner-text h3,
	.rs-banner .banner-text h3 .cd-headline, 
	.rs-banner .banner-text h3 span{
		font-size: 22px;
	}
	.counter-top-area.left-icon-counter .col-md-3:first-child .rs-counter-list,
	.counter-top-area .rs-counter-list{
		margin-top: 35px;
	}
	.counter-top-area .col-md-3:first-child .rs-counter-list{
		margin-top: 0;
	}
	.counter-top-area .rs-counter-list::after {
	    width: 50%;
	    right: auto;
	    transform: translate(-50%);
	    -web-transform: translate(-50%);
	    left: 50%;
	}
	.counter-top-area .rs-counter-list h2 {
		margin: 30px 0 15px !important;
	}
	.ft-bottom-right,
	.rs-footer .footer-bottom .copyright{
		text-align: center;
	}
	.rs-services .services-details {
		width: 100%;
		height: auto;
		border-radius: 0;
	}
	.rs-services .services-details .bt-10{
		border-top: 0;
	}
	.rs-services .services-details .br-10 {
		border-right: 0;
	}
	.rs-services .services-details .single-services {
	    float: none;
	    width: 100%;
	    height: 60px;
	    border-bottom: 1px solid #ddd;
	}
	.rs-services .services-details .middle-content {
		padding: 24px 10px;
		width: 100%;
		position: static;
		border: 0;
		border-radius: 0;
		height: auto;
		transform: translate(0);
		-web-transform: translate(0);
		overflow: hidden;
		border: 1px solid #ddd;
		border-top: 0;
	}
	.rs-banner .banner-image img {
		height: 250px;
	}
	.rs-video-area .rs-video-content-wrap,
	.full-screenbg .rs-video-content-wrap,
	.rs-testimonial.testimonials-slider .single-testimonils{
		padding: 0;
	}
	.counter-top-area.left-icon-counter .rs-counter-list{
		max-width: 250px;
		margin: 30px auto 0;
	}
	.counter-top-area.left-icon-counter .rs-counter-list:after{
		top: 10px;
		left: 26%;
	}
	.rs-banner .banner-text .arrow-btn{
		display: none;
	}
	.rs-testimonial .testi-carousel .slick-arrow{
		display: none !important;
	}
	.full-screenbg.fullwidth-slider .single-slider img,
	.full-screenbg .rs-video-content-wrap,
	.full-screenbg{
		height: 450px;
	}
	.arrow-btn{
		display: none;
	}
	rs-banner a.transparent-btn, 
	.rs-video-content-wrap a.transparent-btn, 
	.rs-banner a.primary-btn, 
	.rs-video-content-wrap a.primary-btn {
		font-size: 17px;
		padding: 5px 24px;
	}
	.full-screenbg .rs-video-content-wrap .slider-botton{
		margin-top: 20px;
	}
	.full-screenbg .rs-video-content-wrap .sl-title{
		font-size: 35px;
		margin-bottom: 10px;
	}
	.full-screenbg .rs-video-content-wrap .work-position h3,
	.full-screenbg .rs-video-content-wrap .work-position h3 b{
		font-size: 26px;
	}
	.rs-video-area .rs-video-content-wrap{
		margin-top: 0;
		height: 450px;
	}
	.rs-video-area .rs-video-content-wrap .slider-botton{
		margin-top: 20px;
	}
	.rs-video-area .rs-video-content-wrap .sl-title{
		margin-bottom: 20px;
	}
}

/* Device Size : 590px. */
@media only screen and (max-width: 590px) {
	.rs-portfolio .grid-item {
		width: 100%;
	}
	.rs-banner .banner-image img {
		height: 200px;
	}
	.full-screenbg .rs-video-content-wrap .sl-title{
		font-size: 25px;
		margin-bottom: 0px;
	}
	.full-screenbg .rs-video-content-wrap .work-position h3,
	.full-screenbg .rs-video-content-wrap .work-position h3 b{
		font-size: 20px;
	}
	rs-banner a.transparent-btn, .rs-video-content-wrap a.transparent-btn, .rs-banner a.primary-btn, .rs-video-content-wrap a.primary-btn {
		font-size: 12px;
		padding: 2px 18px;
	}
	.work-position .cd-headline{
		line-height: 26px;
	}
	.full-screenbg.fullwidth-slider .single-slider img,
	.full-screenbg .rs-video-content-wrap,
	.full-screenbg{
		height: 300px;
	}
	.rs-video-area .rs-video-content-wrap{
		height: 350px;
	}
	.contact-section .contact-top-section .contact-box-area .contact-box-inner .address-box {
		padding: 40px 20px;
		color: #ffffff;
	}
}

/* Small Device : 480px. */
@media only screen and (max-width: 480px) {
	.rs-banner .banner-image{
		display: none
	}
	.rs-banner .banner-text {
		text-align: center;
	}
	.rs-counter-area-2 .rs-counter-list .rs-counter {
	    font-size: 38px;
	}
	.rs-cta .sec-title h3 span {
	    font-size: 17px;
	    margin-bottom: 6px;
	}
	.counter-top-area .rs-counter-list i, 
	.rs-video-area .rs-video-content-wrap .sl-title,
	.full-screenbg .rs-video-content-wrap .sl-title {
		font-size: 30px;
	}
	.sec-title {
		margin-bottom: 22px;
	}
	.sec-title h3, 
	.rs-counter-area-2 .counter-title {
		font-size: 20px;
	}
	.rs-video-area .rs-video-content-wrap .work-position .cd-headline, 
	.rs-video-area .rs-video-content-wrap .work-position h3,
	.full-screenbg .rs-video-content-wrap .work-position .cd-headline, 
	.full-screenbg .rs-video-content-wrap .work-position h3 {
		font-size: 24px;
	}
	.rs-portfolio .portfolio-item .p-title, 
	.rs-blog .blog-item .blog-img .blog-img-content .blog-title {
		font-size: 17px;
		margin-top: 15px
	}
	.rs-portfolio .portfolio-item .p-desc {
	    font-size: 14px;
	    margin-top: 8px;
	}
	.rs-testimonial .testi-filter{
		max-width: 210px;
	}
	.rs-testimonial .testi-filter li {
	    max-width: 70px;
	}
	.rs-video-content-wrap{
		margin-top: 30px;
	}
	.full-screenbg .rs-video-content-wrap .sl-title{
		font-size: 18px;
		margin-bottom: 0px;
	}
	.full-screenbg .rs-video-content-wrap .work-position h3,
	.full-screenbg .rs-video-content-wrap .work-position h3 b{
		font-size: 15px;
	}
	.full-screenbg.fullwidth-slider .single-slider img,
	.full-screenbg .rs-video-content-wrap,
	.full-screenbg{
		height: 250px;
	}
	.rs-video-area .rs-video-content-wrap{
		margin-top: 0;
		height: 300px;
	}
	.full-screenbg .rs-video-content-wrap {
		top: 0;
	}
}

@media only screen and (max-width: 400px) {
	.rs-about .about-right ul li a{
		margin-bottom: 10px;
		margin-right: 0;
	}
	.rs-about .about-right ul li{
		display: block;
		width: 180px;
		margin: 0 auto;
	}
}

/* Extra Small Device : 320px. */
@media only screen and (max-width: 320px) {
	
}